
body {
  font-size: 15px;
  font-family: 'Lexend Deca', sans-serif;
  background-color: hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
  /* overflow:hidden; */
}

h1 {
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
  margin: 2rem 0 2rem 0;
  text-transform:uppercase;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 2;
}

.outsideContainer {
  display: flex;
  height: 95vh;
  /* max-width:800px; */
  align-items: center;
  justify-content: center;
}

.categoryContainer {
  width: 14rem;
  padding: 3rem;
}

.sedansContainer {
  background-color: hsl(31, 77%, 52%);
  border-radius: 0.75rem 0 0 0.75rem;
}

.suvContainer {
  background-color: hsl(184, 100%, 22%);
}

.luxuryContainer {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 0.75rem 0.75rem 0;
}

/* Button Section */
.myButton {
  background-color: #fff;
  border-radius: 2rem;
  margin: 4rem 0 1.5rem 0;
  padding: 1rem 2rem;
  text-decoration: none;
  border: 1px solid hsl(0, 0%, 95%);
  display: inline-block;
}

.myButton.sedans {
  color: hsl(31, 77%, 52%);
}

.myButton.suvs {
  color: hsl(184, 100%, 22%);
}

.myButton.luxury {
  color: hsl(179, 100%, 13%);
}

.myButton:hover {
  background-color: transparent;
  cursor: pointer;
  color: #FFF;
}

.myButton:active {
  position: relative;
  top: 1px;
}

/* Attribution styles */
.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(179, 100%, 13%);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Mobile Responsiveness */
@media only screen and (max-width: 700px) {
  .outsideContainer {
    flex-direction: column;
    height: 100%;
  }

  .luxuryContainer {
    border-radius: 0 0 0.75rem 0.75rem;
  }

  .sedansContainer {
    border-radius: 0.75rem 0.75rem 0 0;
  }

  .myButton {
    margin: 1.5rem 0 1rem 0;
  }
}
